p, img, a, h2 {
    background-color: transparent;
}

.colored-background {
    background-color:antiquewhite;
    align-items: center;
    min-height: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.pokemon-id {
    margin: 80px 0 0 0;
    font-size: 16px;
    font-weight: bold;    
}

.pokemon-name {
    margin: 20px 0 20px 0;
    font-size: 40px;
}

.pokemon-chips {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
}

.chips {
    margin: 0 5px 0 5px;
    padding: 10px;
    border: 2px solid;
    border-radius: 40%;
    flex-direction: row;
}


.pokemon-img {
    margin: auto 0 -50px 0;
    justify-self: flex-end;
    align-content: center;
    max-width: 250px;
    height: 200px;
}

.white-background {
    background-color: white;
    border-radius: 60px 60px 0 0;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50%
}

.pokemon-details {
    margin: 80px auto 20px auto;
}

.btn-choose-pokemon{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto auto 40px auto;
    width: 100%;

    border-radius: 40px;
    padding: 30px;
    background-color: rgb(46, 137, 255);

    font-size: 20px;
    color: white;
    text-align: center;
    max-width: 350px;
}

.tab-container {
    margin: 80px 0 0 0;
}
  
  ::ng-deep .mat-tab-list .mat-tab-labels {
  color:black;
  background-color: white;
  }
  
  mat-tab-group{
    background-color: white;
  }

  ::ng-deep .mat-tab-label {
    font-weight: bold;
    background-color: white;
  }

  ::ng-deep .mat-tab-label-content {
    background-color: white;
  }

  ::ng-deep .mat-tab-body-content {
    margin: 20px 0 0 0;
    background-color: white;
  }

  ::ng-deep .mat-tab-body {
    background-color: white;
  }