<section>
    <div *ngIf="!isLoading;else loading">
        <div class="div-pokemon-img">
            <img class="pokemon-img" src="{{ pokemonImg }}"> 
        </div>
        <div class="div-pokemon-info">
            <p class="pokemon-id">{{ pokemonId }}</p> 
            <p class="pokemon-name">{{ pokemonName }}</p> 
        </div>
        <div>
            <a class="btn-choose-another-pokemon" (click)="getPokemonById()">Choose another Pokemon!</a>
        </div>
    </div>
    <ng-template #loading>Loading...</ng-template>
</section>
