/* @import './styles/bootstrap-3.3.7-dist/css/bootstrap.min.css'; */

* {
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

html, body, section {
    height: 100%;
    width: 100%;
}